<xin-form>
  <div class="row">
    <div class="col-sm-6">
      <xin-input label="Pseudo" ng-model="utilisateur.pseudo" required=""></xin-input>
    </div>
    <div class="col-sm-6">
      <xin-select label="role" ng-model="utilisateur.role" ng-disabled="!isAdmin" class="xin-placeholders">
        <option value="Administrateur">Administrateur</option>
        <option value="Validateur">Validateur</option>
        <option value="Observateur">Observateur</option>
      </xin-select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <xin-input label="Prénom" ng-model="utilisateur.prenom"></xin-input>
    </div>
    <div class="col-sm-6">
      <xin-input label="Nom" ng-model="utilisateur.nom"></xin-input>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <xin-email ng-model="utilisateur.email" required=""></xin-email>
    </div>
    <div class="col-sm-6">
      <xin-input label="Organisation" ng-model="utilisateur.organisation"></xin-input>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <xin-textarea label="Adresse" rows="4" ng-model="utilisateur.adresse"></xin-textarea>
    </div>
    <div class="col-sm-6">
      <xin-textarea label="Commentaire" rows="4" ng-model="utilisateur.commentaire"></xin-textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <xin-checkbox label="Je participe a titre professionnel" ng-model="utilisateur.professionnel"></xin-checkbox>
    </div>
    <div class="col-sm-6">
      <xin-checkbox label="J'accepte que mes observations soit publiées sous license publique" ng-model="utilisateur.donnees_publiques"></xin-checkbox>
    </div>
  </div>
  <xin-submit></xin-submit>
</xin-form>
